/* SLIDEM GLOBAL STYLES */
body {
  margin: 0;
}

[reveal] {
  opacity: 0;
  transition: opacity 0.2s;
}

/* Keyframes are defined here to patch a scoping bug in Chrome */
@keyframes slidem-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slidem-fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slidem-slide-in-forward {
  from { translate: 100vw 0; }
  to { translate: 0 0; }
}

@keyframes slidem-slide-in-backward {
  from { translate: 0 0; }
  to { translate: 100vw 0; }
}

@keyframes slidem-slide-out-forward {
  from { translate: 0 0; }
  to { translate: -100vw 0; }
}

@keyframes slidem-slide-out-backward {
  from { translate: -100vw 0; }
  to { translate: 0 0; }
}
